fastapi
uvicorn[standard]

pydantic
pydantic-settings

python-multipart
PyJWT
passlib[bcrypt]

sqlalchemy
asyncpg

redis

structlog

prometheus-client

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-grpc
